<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.CLINICA_TOLOZAConnectionString"
            connectionString="Data Source=LOCAL\\SQLEXPRESS;Initial Catalog=CLINICA_TOLOZA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>